@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-image: url('/public/assets/background.jpg');
  background-size: cover;
  background-position: center;
}

ul,li {
  list-style: none;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: .8rem;
}

.press-start-2p-small {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: .6rem;
}

.text-stroke-white {
  -webkit-text-stroke: 1px white;
}

.pokedex {
  height: 90%;
}

.bg-pokeball {
  background-image: url('/public/assets/ballIcon.png');
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  transition: all .3s;
}

.bg-ball {
  background-image: url('/public/assets/ballIcon.png');
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  transition: all .3s;
}

.bg-ball:hover {
  background-size: 110%;
  filter: brightness(.95);
}

/* Stile per le scrollbar sui browser basati su WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffcc00; 
  border-radius: 10px;
  border: 2px solid #dcdcdc; 
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000; 
  border-radius: 10px;
  border: 2px solid #fff; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffcc00; 
}

/* Stile per scrollbar su Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff0000 #ffcc00;
}

*::-webkit-scrollbar-corner {
  background-color: #ffcc00;
}

/* WebKit-based browsers (Chrome, Safari) */
progress {
  width: 100%;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 20px;
  overflow: hidden;
}

progress::-webkit-progress-bar {
  background: linear-gradient(to bottom, rgb(79, 79, 255), rgb(0, 0, 221)) ; 
  border-radius: 5px;
  overflow: hidden;
}

progress::-webkit-progress-value {
  background: linear-gradient(to bottom, rgb(255, 142, 255), rgb(218, 76, 218)); 
  border-radius: 5px;
}

/* Firefox */
progress::-moz-progress-bar {
  background: linear-gradient(to bottom, violet, rgb(210, 62, 210)); 
  border-radius: 5px;
}


.bg-pkImage {
  background: linear-gradient(to bottom ,#79F3FE , #0573A6 );
  background-attachment: fixed;
  border: 2px solid transparent;
  transition: border .2s;
  cursor: pointer;
}

.bg-pkImage:hover {
  border: 2px solid yellow;
}

.stat-bar {
  animation: 2s statGrowth ease-out;
}

@keyframes statGrowth{
  0%{max-width: 0;}
  100%{max-width: 100%;}
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.o-pokeball {
  width: 100%;
  height: 100%;
  background-image: url('/public/assets/ballIcon.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .7;
  animation: 1s ballRotate ease-in-out infinite;
}

@keyframes ballRotate{
  0%{rotate: 0deg;}
  100%{rotate: 360deg;}
}

.pokelist {
  opacity: 0;
  animation: .3s fadeIn ease-out forwards;
  animation-delay: calc(0.005s * var(--i)); 
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }

  100%{
    opacity:1;
  }
}

.poke-sprite{
  padding-top: 15px;
}

.poke-sprite:hover {
  animation: .7s moveSprite linear infinite;
  z-index: 10;
}

@keyframes moveSprite {
  0%{
    padding-top: 15px;
  }
  49%{
    padding-top: 15px;
  }
  50%{
    padding-top: 0;
  }
  99% {
    padding-top: 0;
  }
  100%{
    padding-top: 15px;
  }
}

.errorComponent {
  background-image: url('/public/assets/errorBg.jpg');
  background-size: cover;
  background-position: center;
}

@media  screen and (min-width: 500px) {
  section {
    width: 83.3333%;

  }
}


